@import "./../../../../styles/mixins/image-sharp-edges.scss";
@import "./../../../../assets/fonts/upheaval-pro/stylesheet.css";

$URL_ASSETS: "./../../../../assets/";
$URL_ASSETS_IMAGES: $URL_ASSETS + "images/";

.menu {
	$colour-text-primary: #69a2b0;
	$colour-text-secondary: #436c76;
	$tab-button-size: 40px;

	box-sizing: border-box;
	display: flex;
    align-self: flex-end;
	height: 100%;
	width: 100%;
	max-width: 600px;
	padding: 10px 0 0 10px;
	text-align: center;
	pointer-events: none;
	z-index: 1;

	font-family: "upheaval-pro";
	-webkit-font-smoothing: antialiased; // subpixel-antialiased;

	&.open {
		pointer-events: all;
		.menu-structure { display: flex; }
	}
	&.close {
		pointer-events: none;
		.menu-structure { display: none }
	}

	.menu-structure {
		background-image: url($URL_ASSETS_IMAGES + "ui/menu-bg.png");
		background-repeat: no-repeat;
		box-sizing: border-box;
		height: 100%;
		width: 100%;

		.tab {
    		margin-top: 29px;

			&__clones,
			&__tools,
			&__upgrades,
			&__stats,
			&__achievements,
			&__config,
			&__credits {
				background-color: transparent;
				background-size: contain;
				display: block;
				border: 0;
				margin: 0 0 2px 0;
				padding: 0;
				outline: none;
				height: $tab-button-size;
				width: $tab-button-size;
			}

			&__clones {
				&.selected { background-image: url($URL_ASSETS_IMAGES + "ui/tab-clones-active.png"); }
				&.unselected { background-image: url($URL_ASSETS_IMAGES + "ui/tab-clones-inactive.png"); }
			}
			&__tools {
				&.selected { background-image: url($URL_ASSETS_IMAGES + "ui/tab-tools-active.png"); }
				&.unselected { background-image: url($URL_ASSETS_IMAGES + "ui/tab-tools-inactive.png"); }
			}
			&__upgrades {
				&.selected { background-image: url($URL_ASSETS_IMAGES + "ui/tab-upgrades-active.png"); }
				&.unselected { background-image: url($URL_ASSETS_IMAGES + "ui/tab-upgrades-inactive.png"); }
			}
			&__stats {
				&.selected { background-image: url($URL_ASSETS_IMAGES + "ui/tab-stats-active.png"); }
				&.unselected { background-image: url($URL_ASSETS_IMAGES + "ui/tab-stats-inactive.png"); }
			}
			&__achievements {
				&.selected { background-image: url($URL_ASSETS_IMAGES + "ui/tab-achievements-active.png"); }
				&.unselected { background-image: url($URL_ASSETS_IMAGES + "ui/tab-achievements-inactive.png"); }
			}
			&__config {
				&.selected { background-image: url($URL_ASSETS_IMAGES + "ui/tab-config-active.png"); }
				&.unselected { background-image: url($URL_ASSETS_IMAGES + "ui/tab-config-inactive.png"); }
			}
			&__credits {
				&.selected { background-image: url($URL_ASSETS_IMAGES + "ui/tab-credits-active.png"); }
				&.unselected { background-image: url($URL_ASSETS_IMAGES + "ui/tab-credits-inactive.png"); }
			}
		}
	}
}