@import "./../../../../styles/mixins/image-sharp-edges.scss";

$URL_ASSETS: "./../../../../assets/";
$URL_ASSETS_IMAGES: $URL_ASSETS + "images/";

$tab-button-size: 40px;

.menu {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	pointer-events: none;
	z-index: 1;

	&.open {
		pointer-events: all;
		.menu-structure { display: flex; }
	}
	&.close {
		pointer-events: none;
		.menu-structure { display: none }
	}

	.menu-structure {
		background-image: url($URL_ASSETS_IMAGES + "ui/menu-bg.png");
		background-repeat: no-repeat;
		background-position: left;
		box-sizing: border-box;
		height: 100%;
		padding-top: 10px;

		.tab {
			align-items: flex-end;
			display: flex;
			flex-direction: column;
			width: $tab-button-size + $tab-button-size / 2;

			&__clones,
			&__tools,
			&__upgrades,
			&__stats,
			&__achievements,
			&__config,
			&__credits {
				background-color: transparent;
				background-size: contain;
				display: block;
				border: 0;
				margin: 0 0 2px 0;
				padding: 0;
				outline: none;
				height: $tab-button-size;
				width: $tab-button-size;

				// @media screen and (min-width: 768px) {
				//	@extend %image-sharp-edges;
				// 	height: 60px;
				// 	width: 60px;
				// }
			}

			&__clones {
				&.selected { background-image: url($URL_ASSETS_IMAGES + "ui/tab-clones-active.png"); }
				&.unselected { background-image: url($URL_ASSETS_IMAGES + "ui/tab-clones-inactive.png"); }
			}
			&__tools {
				&.selected { background-image: url($URL_ASSETS_IMAGES + "ui/tab-tools-active.png"); }
				&.unselected { background-image: url($URL_ASSETS_IMAGES + "ui/tab-tools-inactive.png"); }
			}
			&__upgrades {
				&.selected { background-image: url($URL_ASSETS_IMAGES + "ui/tab-upgrades-active.png"); }
				&.unselected { background-image: url($URL_ASSETS_IMAGES + "ui/tab-upgrades-inactive.png"); }
			}
			&__stats {
				&.selected { background-image: url($URL_ASSETS_IMAGES + "ui/tab-stats-active.png"); }
				&.unselected { background-image: url($URL_ASSETS_IMAGES + "ui/tab-stats-inactive.png"); }
			}
			&__achievements {
				&.selected { background-image: url($URL_ASSETS_IMAGES + "ui/tab-achievements-active.png"); }
				&.unselected { background-image: url($URL_ASSETS_IMAGES + "ui/tab-achievements-inactive.png"); }
			}
			&__config {
				&.selected { background-image: url($URL_ASSETS_IMAGES + "ui/tab-config-active.png"); }
				&.unselected { background-image: url($URL_ASSETS_IMAGES + "ui/tab-config-inactive.png"); }
			}
			&__credits {
				&.selected { background-image: url($URL_ASSETS_IMAGES + "ui/tab-credits-active.png"); }
				&.unselected { background-image: url($URL_ASSETS_IMAGES + "ui/tab-credits-inactive.png"); }
			}
		}

		.page {
			width: 100%;

			&__clones,
			&__tools,
			&__upgrades,
			&__achievements,
			&__stats,
			&__config,
			&__credits {
				&.open { display: block; }
				&.close { display: none; }
			}
		}

	}
}