$tab-button-size: 40px;

.menu {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	pointer-events: none;
	z-index: 1;

	&.open {
		pointer-events: all;
		.menu-folder { display: flex; }
	}
	&.close {
		pointer-events: none;
		.menu-folder { display: none }
	}

	.menu-folder {
		background-color: green;
		box-sizing: border-box;
		height: 100%;
		padding-top: 10px;

		.tab {
			align-items: flex-end;
			display: flex;
			flex-direction: column;
			width: $tab-button-size + $tab-button-size / 2;

			&__clones,
			&__tools,
			&__upgrades,
			&__achievements,
			&__stats,
			&__config,
			&__credits {
				display: block;
				height: $tab-button-size;
				width: $tab-button-size;

				&.selected { opacity: 1; }
				&.unselected { opacity: 0.5; }
			}
		}

		.page {
			width: 100%;

			&__clones,
			&__tools,
			&__upgrades,
			&__achievements,
			&__stats,
			&__config,
			&__credits {
				&.open { display: block; }
				&.close { display: none; }
			}
		}

	}
}