@font-face {
    font-family: "press_start_2p";
    src: url("pressstart2p-webfont.woff2") format("woff2"), url("pressstart2p-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}