@import "./../../../../../styles/variables.scss";
@import "./../../../../../styles/theme.scss";
@import "./../../../../../assets/fonts/upheaval-pro/stylesheet.css";

$URL_ASSETS: "./../../../../../assets/";
$URL_ASSETS_IMAGES: $URL_ASSETS + "images/";

.vat {
	position: relative;
	height: 562px;
	width: 200px;

	&__underlay,
	&__overlay,
	&__clones,
	&__bubbles {
		background-position: center;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		position: absolute;
	}

	&__underlay {
		background-image: url($URL_ASSETS_IMAGES + "capsule/capsule_underlay.png");
		z-index: 1;
	}
	&__clones {
		background-image: none;
		height: 360px;
		width: 176px;
		top: 102px;
		left: 12px;
		z-index: 2;
	}
	&__bubbles {
		background-image: url($URL_ASSETS_IMAGES + "capsule/capsule_bubbles.gif");
		z-index: 3;
	}
	&__overlay {
		background-image: url($URL_ASSETS_IMAGES + "capsule/capsule_overlay.png");
		z-index: 4;
	}
}