@import "./../../../../styles/theme.scss";
@import "./../../../../assets/fonts/upheaval-pro/stylesheet.css";

$URL_ASSETS: "./../../../../assets/";
$URL_ASSETS_IMAGES: $URL_ASSETS + "images/";

.currencies-wrapper {
	box-sizing: border-box;
    display: flex;
    flex-direction: column;
	justify-self: flex-end;
	max-width: 1000px;
	min-width: 200px;
    padding: 0;
    width: 100%;
	z-index: 1;

	.currencies {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-self: flex-end;
		min-width: 200px;
		padding: 0;
		width: 100%;
		z-index: 1;

		&__money,
		&__aging-serum,
		&__anger-serum,
		&__chaos-serum {
			background-color: $colour-blue-darker;
			background-image: url($URL_ASSETS_IMAGES + "ui/currency-bar.png");
			background-repeat: no-repeat;
			color: $colour-shadow;
			display: flex;
			font-family: "upheaval-pro";
			font-size: 14px;
			letter-spacing: 1px;
			line-height: 24px;
			max-width: 1000px;
			padding-left: 4px;
			text-shadow: 1px 1px 0px $colour-blue;

			&:before {
				content: '';
				display: inline-block;
				height: 25px;
				margin-right: 4px;
				width: 25px;
			}
		}

		&__money:before { background-image: url($URL_ASSETS_IMAGES + "ui/resource-icon-money.png"); }
		&__aging-serum:before { background-image: url($URL_ASSETS_IMAGES + "ui/resource-icon-serum-yellow.png"); }
		&__anger-serum:before { background-image: url($URL_ASSETS_IMAGES + "ui/resource-icon-serum-red.png"); }
		&__chaos-serum:before { background-image: url($URL_ASSETS_IMAGES + "ui/resource-icon-serum-black.png"); }
	}

	.risks {
		display: flex;
		flex-direction: column;
	}
}