@import "./../../../../styles/theme.scss";
@import "./../../../../assets/fonts/upheaval-pro/stylesheet.css";

$URL_ASSETS: "./../../../../assets/";
$URL_ASSETS_IMAGES: $URL_ASSETS + "images/";

.assistant {
	background-color: $colour-blue-darker;
	border-top: 2px solid $colour-blue-light;
	box-sizing: border-box;
    display: flex;
	flex: 300px;
	position: relative;
    height: 104px;
    width: 100%;
	z-index: 1;

	&::before {
		background-color: $colour-blue-dark;
		content: '';
		height: 2px;
		width: 100%;
		position: relative;
	}

	.pablo {
		height: 414px;
		width: 264px;
		display: block;
		position: absolute;
		bottom: 0;

		&__head {
			display: block;
			height: 105px;
			width: 90px;
			top: 0;
			left: 75px;
			overflow: hidden;
			position: absolute;

			#pablo-base,
			#pablo-mouth,
			#pablo-eyelids,
			#pablo-eyebrows {
				height: 105px;
				width: 90px;
				display: block;
				overflow: hidden;
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		&__body {
			background-image: url($URL_ASSETS_IMAGES + "assistant/pablo-body.png");
			height: 414px;
			width: 264px;
		}

		&__arms {
			display: block;
			height: 414px;
			width: 264px;
			top: 80px;
			left: 0;
			overflow: hidden;
			position: absolute;

			#pablo__arm--left,
			#pablo__arm--right {
				height: 210px !important;
				width: 120px !important;
				display: block;
				overflow: hidden;
				position: absolute;
			}
			#pablo__arm--left {
				top: 0px;
				right: 0;

			}
			#pablo__arm--right {
				top: 1px;
				left: 0;
			}
		}

	}
}