@import "./../../../../styles/theme.scss";
@import "./../../../../assets/fonts/upheaval-pro/stylesheet.css";

$URL_ASSETS: "./../../../../assets/";
$URL_ASSETS_IMAGES: $URL_ASSETS + "images/";

.info {
	$menu-button-size: 40px;

	-webkit-font-smoothing: antialiased;
	align-items: center;
	display: flex;
	font-family: "upheaval-pro";
	z-index: 2;

	&__resources {
		box-sizing: border-box;
		display: flex;
		padding: 0 10px;
		.resource {
			margin: 10px 20px 10px 0;
		}
	}

}