@import "./../../../../assets/fonts/retro-gaming/stylesheet.css";
@import "./../../../../assets/fonts/desyrel/stylesheet.css";
@import "./../../../../assets/fonts/upheaval-pro/stylesheet.css";

$URL_ASSETS: "./../../../../assets/";
$URL_ASSETS_IMAGES: $URL_ASSETS + "images/";

.info {
	$colour-text-primary: #69a2b0;
	$colour-text-secondary: #436c76;
	$menu-button-size: 60px;

	display: flex;
	margin-top: 10px;
	z-index: 2;

	font-family: "upheaval-pro";
	-webkit-font-smoothing: antialiased; // subpixel-antialiased;

	.info-clones {
		background-image: url($URL_ASSETS_IMAGES + "ui/info-bg.png");
		background-position: center;
		background-repeat: no-repeat;
		height: 116px;
		width: 568px;
		text-align: center;
		margin: 0 auto;
		position: relative;

		&__amount {
			line-height: 1;
			width: 100%;

			&--label {
				font-size: 26px;
				margin-top: -1px;
				color: $colour-text-secondary;
			}
			&--number {
				font-size: 40px;
				line-height: 38px;
				margin-top: 2px;
				color: $colour-text-primary;
				width: 100%;
			}
		}
		&__per-second {
			line-height: 1;
			width: 100%;
			&--label {
				font-size: 20px;
				margin-top: 5px;
				color: $colour-text-secondary;
			}
			&--number {
				font-size: 26px;
				color: $colour-text-primary;
			}
		}
		&__risk {
			margin-bottom: 6px;
			.risk__mutation,
			.risk__rebellion {
				display: block;
				margin-top: -3px;
				line-height: 1;
				&--label {
					font-size: 10px;
				}
				&--number {
					font-size: 12px;
				}

				&.warning {
					color: #770808;
				}
				// &::first-letter {
				// 	text-transform: capitalize;
				// }
			}
		}
	}

	.info-menu {
		position: absolute;
		right: 0;
		top: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url($URL_ASSETS_IMAGES + "ui/info-menu-structure.png");
		width: 66px;
		height: 112px;

		&__button {
			background-color: transparent;
			background-size: contain;
			border: 0;
			cursor: pointer;
			margin-right: 6px;
			height: $menu-button-size;
			width: $menu-button-size;
			outline: none;

			&.opened {
				background-image: url($URL_ASSETS_IMAGES + "ui/info-menu-active.png");
			}

			&.closed {
				background-image: url($URL_ASSETS_IMAGES + "ui/info-menu-inactive.png");
			}
		}
	}

}