$URL_ASSETS: "./../../../../../assets/";
$URL_ASSETS_IMAGES: $URL_ASSETS + "images/";

.menu-tab {
	$tab-button-size: 40px;

	background-color: transparent;
	background-size: contain;
	display: block;
	border: 0;
	margin: 0 0 2px 0;
	padding: 0;
	position: relative;
	outline: none;
	height: $tab-button-size;
	width: $tab-button-size;

	&:hover::before {
		background-image: url($URL_ASSETS_IMAGES + "ui/tab-hover.png");
		content: '';
		display: block;
		left: 0;
		position: absolute;
		top: 0;
		height: $tab-button-size;
		width: $tab-button-size;
	}
}