.menu-btn {
	.title {
		color: black;
	}

	.cost {
		color: grey;
	}

	&.unlocked {
		border: 2px solid black;
	}

	&.locked {
		border: 2px solid red;
	}

	&.enabled {
		opacity: 1;
	}

	&.disabled {
		opacity: .75;
	}
}