.laboratory {
	background-color: brown;
	box-sizing: border-box;
	display: block;
	display: flex;
	height: 100%;
	left: 0;
	padding: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
    align-items: center;
}