$colour-blue: #69A2B0;
$colour-blue-light: #8BC4D2;
$colour-blue-lighter: #ADE6F4;
$colour-blue-dark: #436C76;
$colour-blue-darker: #202A2D;

$colour-yellow: #ECA700;
$colour-yellow-light: #FFD05B;
$colour-yellow-dark: #B88300;

$colour-black: #000000;
$colour-white: #FFFFFF;

$colour-shadow: #002211;
$colour-error: #770808;

