@font-face {
    font-family: 'underwood-champion';
    src: url('uwch-webfont.woff2') format('woff2'),
         url('uwch-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}