@import "./../../../../styles/variables.scss";
@import "./../../../../styles/theme.scss";
@import "./../../../../assets/fonts/upheaval-pro/stylesheet.css";

$URL_ASSETS: "./../../../../assets/";
$URL_ASSETS_IMAGES: $URL_ASSETS + "images/";

.capsule {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: center;
	width: 100%;

	.buttons {
		position: absolute;
		z-index: 10;

		.button {
			&-clone,
			&-sell,
			&-serum {
				display: none;
				margin: 0 10px;
				&.unlocked {
					display: flex;
				}
			}
		}
	}

	.vat {
		margin: 0 auto;
	}
}