.capsule {
	background-color: blue;
	display: flex;
	justify-content: center;
	padding: 10px 0;
	text-align: center;
	width: 100%;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	box-sizing: border-box;

	.button {
		&-clone,
		&-sell,
		&-serum {
			display: none;
			margin: 0 10px;
			&.unlocked {
				display: flex;
			}
		}
	}
}