@import "./../../../assets/fonts/retro-gaming/stylesheet.css";

$URL_ASSETS: "./../../../assets/";
$URL_ASSETS_IMAGES: $URL_ASSETS + "images/";

.ui {
	font-family: "retro_gaming";
	-webkit-font-smoothing: antialiased; // subpixel-antialiased;

	display: flex;
    flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100%;

	.characters {
		position: absolute;
		bottom: 0;
		left: 0;
	}
}