@font-face {
    font-family: 'desyrel';
    src: url('desyrel-webfont.woff2') format('woff2'),
         url('desyrel-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}