.menu {
	background-color: green;
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 80px;
	width: 100%;

	&.open {
		display: flex;
	}

	&.close {
		display: none;
	}

	.tab {
		align-items: flex-end;
		display: flex;
		flex-direction: column;
		width: 80px;

		$tab-size: 60px;

		&__clones,
		&__tools,
		&__upgrades,
		&__achievements,
		&__stats,
		&__config,
		&__credits {
			display: block;
			height: $tab-size;
			width: $tab-size;
			&.selected {
				opacity: 1;
			}
			&.unselected {
				opacity: 0.5;
			}
		}
	}

	.page {
		width: 100%;

		&__clones,
		&__tools,
		&__upgrades,
		&__achievements,
		&__stats,
		&__config,
		&__credits {
			&.open {
				display: block;
			}
			&.close {
				display: none;
			}
		}
	}
}