.menu {
	background-color: green;
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 80px;
	width: 100%;

	&.open {
		display: block;
	}

	&.close {
		display: none;
	}

	button {
		display: block;
		margin: 10px auto;
	}
}