.menu {
	background-color: green;
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 80px;
	width: 100%;

	&.open {
		display: block;
	}

	&.close {
		display: none;
	}

	&__tab--clones,
	&__tab--tools,
	&__tab--upgrades,
	&__tab--achievements,
	&__tab--stats,
	&__tab--config,
	&__tab--credits {
		&.open {
			display: block;
		}
	
		&.close {
			display: none;
		}
	}

	button {
		display: block;
		margin: 10px auto;
	}
}